{{ if .Site.Params.mailChimpUUID }}
  <!-- Begin MailChimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:18px 'Raleway', 'Helvetica Neue', 'Arial', sans-serif; width:100%;}
  #mc_embed_signup label {
    font-size: 1.75rem;
    padding-bottom: 25px;
  }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
  <div id="mc_embed_signup">
  <form action="https://davidpelayo.us9.list-manage.com/subscribe/post?u={{ .Site.Params.mailChimpUUID }}&amp;id={{ .Site.Params.mailChimpListID }}"
    method="post"
    id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form"
    class="validate"
    target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <label for="mce-EMAIL">Do you want me to keep you posted?</label>
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_aa2912d437d438c60a710b28f_1a64b37b5f" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
  </form>
  </div>
  <!--End mc_embed_signup-->
{{ end }}
